@import '../../styles/variables';

.ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
  padding: 0;
}

.list__button {
  background: none;
  border: none;
  outline: none;
  transition: .2s;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
  &:hover {
    color: #1890ff;
  }
}
