@import './event-type-colors';

.vanilla-ice {
  background-color: $vanilla-ice;
}
.remy {
  background-color: $remy;
}
.white-lilac {
  background-color: $white-lilac;
}
.blue-chalk {
  background-color: $blue-chalk;
}
.pattens-blue-light {
  background-color: $pattens-blue-light;
}
.pattens-blue {
  background-color: $pattens-blue;
}
.humming-bird {
  background-color: $humming-bird;
}
.foam {
  background-color: $foam;
}
.white-ice-light {
  background-color: $white-ice-light;
}
.white-ice {
  background-color: $white-ice;
}
.china-ivory {
  background-color: $china-ivory;
}
.blanched-almond {
  background-color: $blanched-almond;
}
.serenade {
  background-color: $serenade;
}
.sazerac {
  background-color: $sazerac;
}
.azure {
  background-color: $azure;
}
