$yellow-light: #fafabe;
$red-light: #ffb1b1;
$green-light: #bbdebb;

$shilo: #E6B0AA;
$beauty-bush: #F5B7B1;
$prelude-light: #D7BDE2;
$prelude: #D2B4DE;
$sail: #A9CCE3;
$pale-cornflower-blue: #AED6F1;
$ice-cold: #A3E4D7;
$sinbad: #A2D9CE;
$vista-blue: #A9DFBF;
$magic-mint: #ABEBC6;
$drover: #F9E79F;
$frangipani: #FAD7A0;
$tequila: #F5CBA7;
$mandys-pink: #EDBB99;
$azure: #F7F9F9;

$vanilla-ice: #F2D7D5;
$remy: #FADBD8;
$white-lilac: #EBDEF0;
$blue-chalk: #E8DAEF;
$pattens-blue-light: #D4E6F1;
$pattens-blue: #D6EAF8;
$humming-bird: #D1F2EB;
$foam: #D0ECE7;
$white-ice-light: #D4EFDF;
$white-ice: #D4EFDF;
$china-ivory: #FCF3CF;
$blanched-almond: #FDEBD0;
$serenade: #FAE5D3;
$sazerac: #F6DDCC;
$azure: #FBFCFC;
