@import '../../styles/variables';

.ant-badge-status-text {
  font-size: inherit;
}

.ant-picker-calendar-date-value {
  font-size: inherit;
}

@media screen and (min-width: 320px) {
  .ant-picker-calendar .ant-picker-date-panel .ant-picker-content th {
    width: 90px;
  }

  .ant-picker-content--scroll {
    display: block;
    overflow-y: auto;
  }
}

.events {
  button {
    border: 0;
    text-align: left;

    outline: none;
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }
}
