@import '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #aad4ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  img {
    display: block;

    height: 35px;
  }
}
