@import '~antd/dist/antd.css';
@import '../../../styles/event-type-colors';

.ant-table-thead > tr > th {
    background: #d2ecf8;
}

.currentWeek2 {
    background: #5bfa2733;
}

.currentWeek0, .currentWeek1 {
    background: #f0f0f0;
    color: #0000004d;
}

.materials-link {
    display: block;
}

.rating-positive {
    & .ant-badge-count {
        background: #52c41a;    
    }   
}

.no-rating {
    & .ant-badge-count {
        background-color: #fff;
        color: #999;
        box-shadow: 0 0 0 1px #d9d9d9 inset; 
    }
}

.ant-table-container {
    font-family: 'system-ui';
    & .ant-table {
        font-size: 12px;    
    }
}

.green-light .ant-table-cell {
    background: $green-light;
    width: 100%;
    height: 100%;
}

.red-light .ant-table-cell {
    background: $red-light;
    width: 100%;
    height: 100%;
}

.yellow-light .ant-table-cell {
    background: $yellow-light;
    width: 100%;
    height: 100%;
    &:hover {
      background: black;  
    }     
}

// .ant-table-expanded-row .ant-table-row {
//     &:hover {
//       background: black;  
//     }    
// }


