.ant-table-cell {
  &.column-visibility {
    text-align: end;
  }
}

.columns-visibility__button {
  & .columns-visibility__title {
    font-size: 14px !important;
  }
}


@media (max-width: 400px) {
  .ant-table-cell {
    &.column-visibility {
      padding: 0 15px 0 0;
    }
  }
}
